@font-face {
    font-family: 'poker';
    src: url(/Cartas/fonts/JqkasWild-w1YD6.ttf) format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: 'title';
    src:url(../fonts/PokerInOctoberDemo-Dxm3.otf);
    font-weight: normal;
}

body {
    background-image: url(../media/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    align-items: center;
    align-content: center;
}

.main {
    position: absolute;
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    margin: -25vw 15vw 0vw 16vw;
    padding: 3vw 6vw 3vw 6vw;
    box-shadow: 5px 5px 35px rgba(204, 204, 204, 0.528);
    border-color: white;
    border-radius: 5vw;
}

.titulo {
    color: white;
    letter-spacing: 200 px;
    text-align: center;
    text-shadow: 15px 15px 55px rgb(255, 255, 255);
    font-size: 2vw;
    margin: 5vw 0vw 8vw 0vw;
    font-family: 'title';
}

.titulo {
    animation: titulo 1.5s ease-in-out infinite;
}

@keyframes titulo {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}


.drill {
    color: white;
    text-decoration: none;
    padding: 1.5vw 4vw 1.5vw 4vw;
    border-radius: 2vw;
    text-shadow: 15px 15px 55px rgba(255, 255, 255, 0.819);
    font-family: 'poker';
}

.drill h2{
    font-size: 1.2vw;
    letter-spacing: 0.2vw;
}
.drill h3{
    font-size: 1.5vw;
    letter-spacing: 0.5vw;
}


.card img{
    width: 10vw;
    margin: 0vw;
}