* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url(../media/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    align-items: center;
    align-content: center;
}

.main {
    position: absolute;
    color: white;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.466);
    margin: -26vw 15vw 0vw 16vw;
    padding: 3vw 6vw 3vw 6vw;
    box-shadow: 5px 5px 35px rgba(204, 204, 204, 0.528);
    border-color: white;
    border-radius: 5vw;
}

.titulo {
    color: white;
    letter-spacing: 200 px;
    text-align: center;
    text-shadow: 15px 15px 55px rgb(255, 255, 255);
    font-size: 3vw;
    margin: 5vw 0vw 8vw 0vw;
}

.titulo {
    animation: titulo 1.5s ease-in-out infinite;
}

@keyframes titulo {
    0%,100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}
.cont {
    color: white;
    letter-spacing: 5 px;
    text-align: center;
    font-size: 2vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: -2vw;
}
.rules{
    margin-top: -4vw;
        font-size: 2vw;
}
.iniciar {
    font-size: 3vw;
    margin: 2vw 10vw 0vw 10vw;
    background-color: rgba(75, 75, 75, 0.57);
    color: white;
    text-decoration: none;
    border-radius: 2vw;
    box-shadow: -8px 10px 20px rgba(204, 204, 204, 0.3);
    padding: 1.5vw 1vw 1.5vw 1vw;
}

.iniciar:hover {
    text-shadow: 15px 15px 55px rgba(255, 250, 250, 0.819);
}

.textstart {
    font-size: 1.7vw;
    margin: 0vw 0vw 1vw -20;
}
